---
import {render} from "astro:content";
import Layout from "./_layouts/BlogBaseLayout.astro";

import {getBlogCollection} from "@helpers/collections/blog";

export async function getStaticPaths() {
    const posts = await getBlogCollection(false);
    return posts.map(post => ({
        params: {slug: post.post.id},
        props: {post},
    }));
}

const {post} = Astro.props;
const {Content} = await render(post.post);
---

<Layout {...post.frontmatter}>
    <h1>{post.frontmatter.title}</h1>
    <Content/>
</Layout>
