---
import Layout from "@layouts/BaseLayout.astro";
import {getCollection} from "astro:content";

import {fm} from "@helpers/frontmatter";

import {postToFrontmatter} from "./_common/post-to-frontmatter";

const allPosts = (await getCollection("blogPosts")).map(postToFrontmatter);

// TODO: Sort posts by date

export const frontmatter = fm({
    title: "Sim's Blog Archive",
    description: "Sim's blog.",
    keywords: ["blog"],
});
---

<Layout {...frontmatter}>

<h1>Blog Archive</h1>

{
    allPosts.map((post) => (
    <p>{post.date.toISOString()} &raquo; <a href={post.urlAbsolutePath}>{post.frontmatter.title}</a></p>
    ))
}

</Layout>

