---
import Layout from "./_layouts/BlogBaseLayout.astro";

import {fm} from "@helpers/frontmatter";

import {getBlogCollection} from "@helpers/collections/blog";

const posts = await getBlogCollection();

export const frontmatter = fm({
    title: "Sim's Blog Archive",
    description: "Sim's blog.",
    keywords: ["blog"],
});
---

<Layout {...frontmatter}>

<h1>Archive</h1>

{
    posts.map((p) => (
        <p>{p.date.toISOString()} &raquo; <a href={p.urlAbsolutePath}>{p.frontmatter.title}</a></p>
    ))
}

</Layout>

