---
import Layout from "./_layouts/BlogBaseLayout.astro";
import {getCollection} from "astro:content";

import {fm} from "@helpers/frontmatter";

import {
    postToFrontmatter,
    blogFrontmatterCmp,
} from "./_common/blog-frontmatter";

const allPosts = (await getCollection("blog")).map(postToFrontmatter);
allPosts.sort(blogFrontmatterCmp);

export const frontmatter = fm({
    title: "Sim's Blog Archive",
    description: "Sim's blog.",
    keywords: ["blog"],
});
---

<Layout {...frontmatter}>

<h1>Archive</h1>

{
    allPosts.map((post) => (
    <p>{post.date.toISOString()} &raquo; <a href={post.urlAbsolutePath}>{post.frontmatter.title}</a></p>
    ))
}

</Layout>

