---
import {getCollection, render} from "astro:content";

import Layout from "./_layouts/BlogBaseLayout.astro";
import {fm} from "@helpers/frontmatter";

import {
    postToFrontmatter,
    blogFrontmatterCmp,
} from "./_common/blog-frontmatter";

import "./_index.css";

const allPosts = (await getCollection("blog")).map(postToFrontmatter);
allPosts.sort(blogFrontmatterCmp);

export const frontmatter = fm({
    title: "Sim's Blog",
    description: "Sim's blog.",
    keywords: ["blog"],
});
---

<Layout {...frontmatter}>

<p><a href="./archive/">Archive</a></p>

<p><em>This is an early WIP focused on experimenting with ways to manage my blog posts before migrating <a href="https://blog.simshadows.com/">my old blog</a> to this website.</em></p>

{allPosts.map(async (bf) => {
    const {Content} = await render(bf.post);
    return <article class="post">
        <p><span class="post-date">{bf.date.toISOString()}<span></p>
        <h1><a href={bf.urlAbsolutePath}>{bf.frontmatter.title}</a></h1>
        <Content/>
    </article>
})}

</Layout>

