---
import Layout from "@layouts/BaseLayout.astro";
import {getCollection} from "astro:content";

import {fm} from "@helpers/frontmatter";

import {postToFrontmatter} from "./_common/post-to-frontmatter";

const allPosts = (await getCollection("blogPosts")).map(postToFrontmatter);

export const frontmatter = fm({
    title: "Sim's Blog",
    description: "Sim's blog.",
    keywords: ["blog"],
});
---

<Layout {...frontmatter}>

<h1>Blog</h1>

<p><a href="./archive">Archive</a></p>

<p><em>This is an early WIP focused on experimenting with ways to manage my blog posts before migrating <a href="https://blog.simshadows.com/">my old blog</a> to this website.</em></p>

<ul>
    {
        allPosts.map((post) => (
            <li><a href={`/blog/${post.post.id}/`}>{post.frontmatter.title}</a></li>
        ))
    }
</ul>

</Layout>

