---
import {render} from "astro:content";

import Layout from "./_layouts/BlogBaseLayout.astro";
import {fm} from "@helpers/frontmatter";

import {getBlogCollection} from "@helpers/collections/blog";

import "./_index.css";

const posts = await getBlogCollection();

export const frontmatter = fm({
    title: "Sim's Blog",
    description: "Sim's blog.",
    keywords: ["blog"],
});
---

<Layout {...frontmatter}>

<p><a href="./archive/">Archive</a></p>

<p><em>This is an early WIP focused on experimenting with ways to manage my blog posts before migrating <a href="https://blog.simshadows.com/">my old blog</a> to this website.</em></p>

{posts.map(async (p) => {
    const {Content} = await render(p.post);
    return <article class="post">
        <p><span class="post-date">{p.date.toISOString()}<span></p>
        <h1><a href={p.urlAbsolutePath}>{p.frontmatter.title}</a></h1>
        <Content/>
    </article>
})}

</Layout>

