---
import {type solLayoutFM} from "./_utils";

interface Props {
    url: string;
    fm: solLayoutFM;
}

const {
    url,
    fm,
} = Astro.props;
---

<tr>
    <td class={`difficulty-${fm.difficulty}`}>{fm.difficultyName}</td>
    <td><a href={url}>{fm.num}. {fm.name}</a> [<a href={fm.leetcodeURL}>Spec</a>]</td>
</tr>

