---
import {type solLayoutFM} from "./_utils";

interface Props {
    url: string;
    fm: solLayoutFM;
}

const {
    url,
    fm,
} = Astro.props;
---

<tr>
    <td>[<a target="_blank" href={fm.leetcodeURL}>Spec</a>]</td>
    <td class={`difficulty-${fm.difficulty}`}>{fm.difficultyName}</td>
    <td><a href={url}>{fm.num}. {fm.title}</a></td>
    <td>{fm.needsimprovement && <b>(Needs Improvement)<b/>}</td>
</tr>

