---
import {type solLayoutFM} from "./_utils";

interface Props {
    url: string;
    fm: solLayoutFM;
}

const {
    url,
    fm,
} = Astro.props;
---

<li><a href={url}>{fm.num}. {fm.name} ({fm.difficultyName})</a> [<a href={fm.leetcodeURL}>Spec</a>]</li>

