---
import Layout from "@layouts/BaseLayout.astro";

import Todo from "@components/Todo";

import {processSolLayoutFrontmatter} from "./_utils";

interface Props {
    frontmatter: {[key: string]: unknown;};
    //headings: {depth: number; slug: string; text: string}[];
}

const {
    frontmatter,
    //headings,
} = Astro.props;

const fm = processSolLayoutFrontmatter(frontmatter);

const pageTitle = `${fm.num}. ${fm.title}`;
---

<Layout
    title={pageTitle}
    description="A solution to a Leetcode problem."
    keywords={fm.keywords}
    noRightSidebar={true}
>
    {fm.wip && <p><Todo>This solution is still incomplete :(</Todo></p>}
    <h3 style="margin-bottom: 0;">Leetcode - {fm.difficultyName}</h3>
    <h1 style="margin-top: 0.2em;">{pageTitle} <span style="font-size: initial;">[<a target="_blank" href={fm.leetcodeURL}>Original Spec</a>] [{fm.accessedStr}]</span></h1>
    <slot />
</Layout>


