---
import {type GetStaticPathsOptions} from "astro";
import {render} from "astro:content";

import {fm} from "@helpers/frontmatter";
import PaginationNavigatorBar from "@components/PaginationNavigatorBar";

import {
    type CurationPost,
    getCurationCollectionPaginated,
} from "@helpers/collections/curation";

import Layout from "./_layouts/CurationBaseLayout.astro";

import YouTubeEmbed from "@components/YouTubeEmbed";

import "./_index.css";

function numToURL(i: number): string {
    return `/curation/${i}/`;
}

export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
    const groups = (await getCurationCollectionPaginated()).groups;
    return paginate([...groups], {pageSize: 1});
}

export const frontmatter = fm({
    title: "Sim's Internet Curation",
    description: "A hand-curated feed of internet content.",
    keywords: ["content curation"],
});

const props = Astro.props;
const page = props.page;
const groups = page.data;

const _posts = groups[0];
if (!_posts) throw new Error();
const posts: CurationPost[] = _posts;
---


<Layout {...frontmatter}>

<div id="welcome">
    <p><a href="./about/">About This Page</a></p>
    <p><em>Disclaimer: Posts shown here or any commentary I write may contain factual errors or imbalanced representation.</em></p>
</div>
<PaginationNavigatorBar page={page} numberToURL={numToURL}/>

{posts.map(async (p) => {
    const renderedContent = await (async ()=>{
        if (!p.collectionEntry) return null;
        const {Content} = await render(p.collectionEntry);
        return <Content/>;
    })();

    return <article class="post">
        <div class="post-date">{p.date.toISOString()}</div>
        <h3 class="post-title">{p.title}</h3>
        {(!!p.synopsis) &&
            <p>{p.synopsis}</p>
        }
        {(!!p.url) &&
            <p>Web link: <a href={p.url} target="_blank">{p.url}</a></p>
        }
        {(!!p.youtubeVideoID) &&
            <YouTubeEmbed videoID={p.youtubeVideoID}/>
        }
        {renderedContent}
    </article>
})}

<PaginationNavigatorBar page={page} numberToURL={numToURL}/>


</Layout>

