---
import "normalize.css";

import {
    SITE_TITLE,
    WEB_APPS_URL,
    BLOG_URL,
} from "@root/constants";
import BaseHead from "@components/layout-helpers/BaseHead.astro";
import BaseFooter from "@components/layout-helpers/BaseFooter.astro";
import "@fontsource/roboto";
import "@root/global.css";
import "./_BaseLayout.css";

interface Props {
    title: string;
    description: string;
    keywords: string[];
    noRightSidebar?: boolean;
}

const {
    title,
    description,
    keywords,
    noRightSidebar,
} = Astro.props;
---

<!doctype html>

<!--
Author:  simshadows <contact@simshadows.com>
License: Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC-BY-NC-SA-4.0)

Full source code is available here:
<https://github.com/simshadows/simshadows.github.io>
-->

<html lang="en">
    <BaseHead
        title={title}
        description={description}
        keywords={keywords}
    />
    <body>
        <div id="masthead" class="no-print"><div id="masthead__content" class="content-column">
            <a id="website-title" href="/">{SITE_TITLE}</a>
            <div id="masthead__menu">
                <a href="/about/">About Me</a>
                <a href={WEB_APPS_URL}>Web Apps</a>
                <a href={BLOG_URL}>Blog</a>
            </div>
        </div></div>
        {/*
        <div id="content-wrap" class="content-column">
            <div id="content">
                <slot />
            </div>
        </div>
        */}
        <div id="content-wrap" class="content-column">
            <div id="content">
                <slot />
            </div>
            {(!noRightSidebar) && Astro.slots.has("right-sidebar") &&
                <div id="right-sidebar-wrap" class="no-print">
                    <div id="right-sidebar">
                        <slot name="right-sidebar" />
                    </div>
                </div>
            }
        </div>
        <BaseFooter />
    </body>
</html>

