---
import {
    SITE_TITLE,
    WEB_APPS_URL,
    BLOG_URL,
} from "@root/constants";
import BaseHead from "@components/BaseHead.astro";
import BaseFooter from "@components/BaseFooter.astro";
import "./_BaseLayout.css";

const {
    title,
    canonical,
    description,
    keywords,
} = Astro.props;
---

<!doctype html>

<!--
Author:   simshadows <contact@simshadows.com>
License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)

Full source code is available here:
<https://github.com/simshadows/simshadows-pages>
-->

<html lang="en">
    <BaseHead
        title={title}
        canonical={canonical}
        description={description}
        keywords={keywords}
    />
    <body>
        <div id="masthead"><div id="masthead__content" class="content-column">
            <a id="website-title" href="/">{SITE_TITLE}</a>
            <div id="masthead__menu">
                <a href={WEB_APPS_URL}>Web Apps</a>
                <a href={BLOG_URL}>Blog</a>
            </div>
        </div></div>
        <div id="content" class="content-column">
            <slot />
        </div>
        <BaseFooter />
    </body>
</html>

