---
import BaseHead from "@components/BaseHead.astro";
import BaseFooter from "@components/BaseFooter.astro";
import "./_BaseLayout.css";

const {
    title,
    canonical,
    author,
    description,
    keywords,
} = Astro.props;
---

<!doctype html>

<!--
Author:   simshadows <contact@simshadows.com>
License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)

Full source code is available here:
<https://github.com/simshadows/simshadows-pages>
-->

<html lang="en">
    <BaseHead
        title={title}
        canonical={canonical}
        author={author}
        description={description}
        keywords={keywords}
    />
    <body>
        <div id="masthead"><div id="masthead__content" class="content-column">
            <a id="website-title" href="/">simshadows</a>
            <div id="masthead__menu">
                <a href="https://apps.simshadows.com/">Web Apps</a>
                <a href="https://www.simshadows.com/">Blog</a>
            </div>
        </div></div>
        <div id="content" class="content-column">
            <slot />
        </div>
        <BaseFooter author={author} />
    </body>
</html>

