---
import {
    SITE_TITLE,
    WEB_APPS_URL,
    BLOG_URL,
} from "@root/constants";
import BaseHead from "@components/layout-helpers/BaseHead.astro";
import BaseFooter from "@components/layout-helpers/BaseFooter.astro";
import "@fontsource/roboto";
import "@root/global.css";
import "./_BaseLayout.css";

interface Props {
    title: string;
    description: string;
    keywords: string[];
}

const {
    title,
    description,
    keywords,
} = Astro.props;
---

<!doctype html>

<!--
Author:  simshadows <contact@simshadows.com>
License: Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)

Full source code is available here:
<https://github.com/simshadows/simshadows.github.io>
-->

<html lang="en">
    <BaseHead
        title={title}
        description={description}
        keywords={keywords}
    />
    <body>
        <div id="masthead"><div id="masthead__content" class="content-column">
            <a id="website-title" href="/">{SITE_TITLE}</a>
            <div id="masthead__menu">
                <a href="/about/">About Me</a>
                <a href={WEB_APPS_URL}>Web Apps</a>
                <a href={BLOG_URL}>Blog</a>
            </div>
        </div></div>
        <div id="content" class="content-column">
            <slot />
        </div>
        <BaseFooter />
    </body>
</html>

