---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import GeneralLayout from "@layouts/GeneralLayout.astro";

import {
    Currency,
    type Origin,
    switches,
} from "./index.data";
import {SwitchesTable} from "./index.SwitchesTable";

import "./index.css";

const allOrigins: Origin[] = switches.flat().map((x) => x.origins).flat();

const totalItemCost: Currency = allOrigins.reduce(
    (acc, v) => acc.add(v.itemCost || new Currency("0.00 AUD")),
    new Currency("0.00 AUD"),
);
const totalSFCost: Currency = allOrigins.reduce(
    (acc, v) => acc.add(v.sfCost || new Currency("0.00 AUD")),
    new Currency("0.00 AUD"),
);
---

<GeneralLayout
    title="Sim's Mechanical Keyboard Switch Collection"
    canonical="https://pages.simshadows.com/mechanical-keyboard-switch-collection"
    description="A complete guide to Sim's mechanical keyboard switch collection, including visual identification, known documented specifications/characteristics, and origin."
    keywords="simshadows, pages, mechanical keyboard, switch, keyswitch"
>



<h1>Sim's Mechanical Keyboard Switch Collection</h1>

<SwitchesTable data={switches} />

<p><table id="stat-table">
    <tbody>
        <tr>
            <th>Total number of unique switch types:</th>
            <td>{switches.flat().length}</td>
        </tr>
        <tr>
            <th>Total number of samples:</th>
            <td>{allOrigins.length}</td>
        </tr>
        <tr>
            <th>Total item cost:</th>
            <td>{totalItemCost.toString()}</td>
        </tr>
        <tr>
            <th>Total shipping/fees:</th>
            <td>{totalSFCost.toString()}</td>
        </tr>
        <tr>
            <th>Grand total cost:</th>
            <td>{totalItemCost.add(totalSFCost).toString()}</td>
        </tr>
    </tbody>
</table></p>


</BaseLayout>
