---
/*
 * Filename: index.astro
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import GeneralLayout from "@layouts/legacy/GeneralLayout.astro";

import {
    Currency,
    type Origin,
    switches,
} from "./_index.data";
import {SwitchesTable} from "./_index.SwitchesTable";

import "./_index.css";

const allOrigins: Origin[] = switches.flat().map((x) => x.origins).flat();

const totalItemCost: Currency = allOrigins.reduce(
    (acc, v) => acc.add(v.itemCost || new Currency("0.00 AUD")),
    new Currency("0.00 AUD"),
);
const totalSFCost: Currency = allOrigins.reduce(
    (acc, v) => acc.add(v.sfCost || new Currency("0.00 AUD")),
    new Currency("0.00 AUD"),
);
---

<GeneralLayout
    title="Sim's Mechanical Keyboard Switch Collection"
    description="A complete guide to Sim's mechanical keyboard switch collection, including visual identification, known documented specifications/characteristics, and origin."
    keywords={["simshadows", "pages", "mechanical keyboard", "switch", "keyswitch"]}
>



<h1>Sim's Mechanical Keyboard Switch Collection</h1>

<p>This page is a visual guide on what switches I own in my collection. It's made for my own benefit to help me identify and compare, but I made it a public webpage since there's no reason to keep it to myself. I hope you will find this useful!</p>

<p><strong>For now, I only collect stock MX-style mechanical switches. I'll update this if I get around to lubing, filming, or building frankenswitches.</strong></p>

<p>If you think I've made any mistakes, please <a href="https://github.com/simshadows/simshadows-pages/issues">open an issue on GitHub</a>.</p>

<p>This page includes vertbatim copies of information from external sources. This is done for <em>personal archival purposes</em>, to assist in tracing the identity of a switch. If you would like your information to be removed, please <a href="mailto: contact@simshadows.com">email me directly</a>.</p>

<p><span class="red-text">Note: I need to redo the "SMD" column. I currently assume a cutout means light can pass through well. Although I do mark switches that have LED cutouts, they don't guarantee good transmission of SMD lighting.</span></p>


<div id="terminology-explanation" class="active">
    <button type="button"></button>
    <div>
        <p>Primary identification columns:</p>
        <ul>
            <li><strong>Type</strong>: Either <em>Linear</em>, <em>Tactile</em>, or <em>Clicky</em>.</li>
            <li><strong>Image</strong>: An image that I believe best-represents my sample switch's appearance in-person, and best at helping tell apart different switches.
                <ul>
                    <li>I prefer sharp, well-lit photos that show the bottom-housing, top-housing, and stem. Colours should be as clear as possible.</li>
                    <li><span class="red-text">These images are not my own.</span> They were pulled from various places on the internet. For original image sources, click on the images.</li>
                </ul>
            </li>
            <li><strong>Names</strong>: The most-specific phrases I can find that best identifies a switch.
                <ul>
                    <li>Most of the time, I'll likely only be able to use generic names based on what others call them, but the goal is to narrow down "series names", model numbers, round numbers, etc. as much as possible.</li>
                    <li><span class="red-text">It should be assumed that all switches have some chance of being misidentified, misnamed, or even be fakes.</span></li>
                    <li>Switches that I believe are especially uncertain in identification will be marked accordingly. Switches with such a marking should be assumed to have uncertain naming and <em>documented characteristics</em>.</li>
                </ul>
            </li>
            <li><strong>Cosmetic Variant</strong>: (self-explanatory)
            <ul>
                <li>(I'm considering removing this column. Sometimes, even if something is a cosmetic variant, I feel like they're better off having a separate "name".)</li>
            </ul>
            </li>
        </ul>

        <p>Additional identification columns for useful visual characteristics that assist in telling apart different switches:</p>
        <ul>
            <li><strong>Top Label</strong>: Moulded label at the top of the switch. These values are case-sensitive to best-represent the font used for the label.</li>
            <li><strong>SMD</strong>: SMD LED compatibility.
                <ul>
                    <li>If <strong>Cutout</strong>, then there is a cutout to allow light to shine through.</li>
                    <li>If <strong>Transparent</strong>, then there is no cutout but light should be able to shine through.</li>
                    <li>If <strong>Semi-Transparent</strong>, then there is no cutout and light <em>might</em> be able to shine through, but may be more heavily-attenuated than a truly transparent housing.</li>
                    <li>If <strong>No</strong>, then there is no cutout and the bottom housing is opaque, which isn't designed to let light through.</li>
                </ul>
            </li>
            <li><strong>Pins</strong>: Either 3-pin or 5-pin.</li>
            <li><strong>Additional Identification Notes</strong>: Any other interesting features.</li>
        </ul>

        <p>Documented characteristics columns are for further features of the switch that have been documented in various places (such as official datasheets, store pages, blog posts, etc.):</p>
        <ul>
            <li><strong>Interested Documented Characteristics</strong>: The most useful summary I can find that describes what sets the switch apart from other switches (apart from just visual).
                <ul>
                    <li><span class="red-text">Terms used can mean different things between different sources.</span> If I feel a term is well-defined, <strong>it will be typeset as strong</strong>. If I feel a term is vaguely defined or imprecise, <em>it will be typeset as emphasis</em>. Unintuitive but well-defined terms I will use to the best of my ability:
                        <ul>
                            <li><strong>Operating force</strong>: Peak force required to reach the operating position.</li>
                            <li><strong>Pretravel</strong>: Distance between rest and the operating position.</li>
                            <li><strong>Total travel</strong>: Distance between rest and bottom-out.</li>
                            <li>(<strong>Operating position</strong>: Position in which the switch registers a change of signal.)</li>
                        </ul>
                    </li>
                    <li><span class="red-text">Documentation found may not be accurate or free of typos.</span> To help, I have included citations for all information found.</li>
                </ul>
            </li>
        </ul>

        <p>Sample identification columns identify specific samples in my collection.</p>
        <ul>
            <li><strong>Sample Count</strong>: The number of samples I have.</li>
            <li><strong>Origin</strong>: An ID for the origin, consisting of the purchase date, where I got it from, and the region it's from.</li>
            <li><strong>Underside Labels</strong>: Labels found on the underside of the switch.
                <ul>
                    <li>I'm actually not entirely sure what these are, but I expect they're for identifying moulds, batches, etc.</li>
                    <li>I record this information because it helps me tell apart different samples of the same switch type.</li>
                </ul>
            </li>
            <li><strong>Item Cost (Per Switch)</strong>: The price I purchased the individual switch for, before shipping and fees.
                <ul>
                    <li>Since I'm usually buying switch sample packs or low-quantities of individual switches, <span class="red-text">these prices are often more expensive compared to buying a large enough quantity to fill a keyboard</span>.</li>
                    <li>These prices are usually inferred, but all the individual costs will <em>always</em> add up to exactly how much I paid for them. For example, if I got a $10 sample pack consisting of two switches "Switch A" and "Switch B", if the store sells Switch A at $30 per pack of 10 and Switch B at $10 per pack of 10, I will infer that my Switch A costed $7.50 and my Switch B costed $2.50.</li>
                    <li>Includes tax related to the item cost.</li>
                </ul>
            </li>
            <li><strong>Shipping/Fees (Per Switch)</strong>: The price I paid for shipping and fees for the individual switch.
                <ul>
                    <li>Similar to Item Cost, this price is inferred but will <em>always</em> add up to exactly how much I paid for it. For example, if we use the Switch A and Switch B examples from earlier, if shipping costed $5 in total for the entire sample pack, then Switch A is inferred to have a shipping cost of $3.75 while Switch B will be inferred to have a shipping cost of $1.25.</li>
                    <li>Includes tax related to the shipping cost.</li>
                </ul>
            </li>
            <li><strong>Comments</strong>: Additional comments about the sample.</li>
        </ul>
    </div>
</div>
<script>
    const termExplainElem = document.querySelector("#terminology-explanation");
    termExplainElem.classList.remove("active");
    termExplainElem.querySelector(":scope > button").addEventListener("click", function(e) {
        if (termExplainElem.classList.contains("active")) {
            termExplainElem.classList.remove("active");
        } else {
            termExplainElem.classList.add("active");
        }
    });
</script>


<p><strong>For the best viewing experience, open this page in a maximized window in a 1920&times;1080 screen.</strong></p>


<SwitchesTable data={switches} />

<p><table id="stat-table">
    <tbody>
        <tr>
            <th>Total number of unique switch types:</th>
            <td>{switches.flat().length}</td>
        </tr>
        <tr>
            <th>Total number of samples:</th>
            <td>{allOrigins.length}</td>
        </tr>
        <tr>
            <th>Total item cost:</th>
            <td>{totalItemCost.toString()}</td>
        </tr>
        <tr>
            <th>Total shipping/fees:</th>
            <td>{totalSFCost.toString()}</td>
        </tr>
        <tr>
            <th>Grand total cost:</th>
            <td>{totalItemCost.add(totalSFCost).toString()}</td>
        </tr>
    </tbody>
</table></p>

<p><table id="origin-table">
    <thead>
        <tr>
            <th>Purchase<br>Date</th>
            <th>ID Fragment</th>
            <th>Description</th>
            <th>Number of<br>Switches</th>
            <th>Total<br>Item Cost</th>
            <th>Total<br>Shipping + Fees</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2022-05-02</td>
            <td>ALL-CAPS-AU</td>
            <td><a href="https://allcaps.store/products/allcaps-switch-sampler">ALL CAPS Sample Pack</a></td>
            <td>11</td>
            <td>10.00 AUD</td>
            <td>1.79 AUD</td>
            <td></td>
        </tr>
        <tr>
            <td>2022-05-02</td>
            <td>Custom-KBD-AU</td>
            <td><a href="https://customkbd.com/products/gazzew-u4t-tactile-switches">Individually purchased from Custom KBD</a></td>
            <td>1</td>
            <td>0.84 AUD</td>
            <td>0.20 AUD</td>
            <td></td>
        </tr>
        <tr>
            <td>2022-05-02</td>
            <td>KBDfans-CN</td>
            <td><a href="https://www.aliexpress.com/item/1005002134753911.html">KBDfans 72-Switch Tester with XDA Profile Dye-Sub Keycaps</a></td>
            <td>72</td>
            <td>46.60 AUD</td>
            <td>9.00 AUD</td>
            <td>
                This sample pack includes a tester and keycaps, along with the switches.<br>
                I'm assuming the tester and keycaps are worth 50.00 AUD in total.
            </td>
        </tr>
        <tr>
            <td>2022-05-11</td>
            <td>HippoKeys-US</td>
            <td>
                <a href="https://hippokeys.com/products/the-one-of-everything-sample-pack">HippoKeys <em>The "One of Everything" Switch Sample Pack</em></a><br>
                (Purchased via. <a href="https://www.ebay.com.au/itm/234543177958">eBay</a>.)<br>
                (<a href="https://hippokeys.com/pages/switch-identification">Provided switch identification graphic</a>)
            </td>
            <td>32</td>
            <td>45.59 AUD</td>
            <td>43.65 AUD</td>
            <td>
                Such an expensive sample pack, especially when considering shipping.<br>
                I got it because it's a really excellent variety of switches.
            </td>
        </tr>
        <tr>
            <td>2022-05-15</td>
            <td>INEDA-CN</td>
            <td><a href="https://www.aliexpress.com/item/1005002427848379.html">INEDA Digital Store (on AliExpress) Outemu Sample Pack</a></td>
            <td>18</td>
            <td>12.34 AUD</td>
            <td>1.28 AUD</td>
            <td></td>
        </tr>
        <tr>
            <td>2022-05-17</td>
            <td>MKCOID-ID</td>
            <td>Various individual purchases from <a href="https://www.mechanicalkeyboards.co.id/">MechanicalKeyboards.co.id</a></td>
            <td>142</td>
            <td>112.12 AUD</td>
            <td>50.85 AUD</td>
            <td></td>
        </tr>
        <tr>
            <td>2022-05-27</td>
            <td>SWOD-US</td>
            <td>Various individual purchases from <a href="https://switchoddities.com/">Switch Oddities</a></td>
            <td>64</td>
            <td>0.00 AUD</td>
            <td>0.00 AUD</td>
            <td>(I haven't fully updated all items from this purchase yet. This page will be updated as I sort through everything.)</td>
        </tr>
        <tr>
            <td>2022-06-08</td>
            <td>ANNE-CN</td>
            <td>
                <a href="https://www.aliexpress.com/item/1005002427848379.html">ANNE OFFICIAL Store (on AliExpress) 14 Keys CS Switch shaft tester</a><br>
                <em>(This is very likely the same product as <a href="https://kprepublic.com/products/akko-14in1-acrylic-switch-tester-mechanical-keyboard-jelly-pink-blue-black-white-sponge-starfish-green-blue-purple-white">one sold by KPrepublic</a>.)</em>
            </td>
            <td>14</td>
            <td>10.22 AUD</td>
            <td>0.00 AUD</td>
            <td>Since ANNE OFFICIAL doesn't have much information on their store page and the product likely came from KPrepublic, I will use the <a href="https://kprepublic.com/products/akko-14in1-acrylic-switch-tester-mechanical-keyboard-jelly-pink-blue-black-white-sponge-starfish-green-blue-purple-white">KPrepublic store page</a> for reference.</td>
        </tr>
        <tr>
            <td>2022-10-27</td>
            <td>Daily-Clack-AU</td>
            <td><a href="https://dailyclack.com/products/alpaca-linear-switches">Individually purchased from Daily Clack</a></td>
            <td>2</td>
            <td>1.67 AUD</td>
            <td>0.09 AUD</td>
            <td></td>
        </tr>
    </tbody>
</table></p>


</BaseLayout>
